@import '../styleImports/variables.scss';
@import '../styleImports/mixins.scss';

.recipe {
	opacity: 1;
	@include centered;
	background: #fffbfb;
	margin: 4em auto;
	padding: 0.5em;
	max-width: 600px;
	border-radius: 5px;
	border-radius: 10px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
	flex-direction: column;
	flex: 1 1 33%;
	width: 33%;
	@include bp(xs) {
		flex: 1;
		width: 100%;
	}
}

// .recipe_s {
// 	flex: 1 1 30%;
// 	width: 33%;
// }
.recipe svg path {
	color: white;
	fill: white;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5.5em;
	@include bp(xs) {
		display: block;
		height: auto;
	}
}

.image_container,
.image_container img {
	display: block;
	border-radius: 50%;
}

.image_container {
	margin: 0 auto;
	margin-bottom: 0.5em;
	z-index: 1;
	overflow: hidden;
	width: 16em;
	border: 30px solid white;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
	img {
		width: 100%;
		height: auto;
	}
}

.recipe article {
	padding: 1.25em 1.5em;
	width: 100%;
}
.list_items {
	display: flex;
	justify-content: space-around;
	flex: 1;
	align-items: center;
	list-style-type: none;
	background: #e28582;
	padding: 0.5em 0;
	border-radius: 10px;
	color: white;
	li {
		@include centered;
		flex-direction: row;
		&:nth-child(even) {
			background: #e28582;
		}
		> * {
			margin: 0.5em;
		}
		@include bp(xs) {
			flex-direction: column;
			> * {
				margin: 0.25em;
			}
		}
	}
}

.ingredients_container {
	h2 {
		@include centered;
	}
}

.recipe article ul li .icon {
	vertical-align: bottom;
}

.recipe article h1,
.recipe article h2 {
	@include centered;
	font-family: 'Roboto', cursive;
	font-weight: 600;
	text-align: center;
	color: #663333;
}
.recipe article h1 {
	font-size: 2.5em;
	margin: 0;
}

.recipe article h2 {
	font-size: 1.5em;
}

.recipe .icon-clock,
.recipe .icon-clock\:regular {
	background-position: 0 -19px;
	width: 20px;
	height: 20px;
}

.video_container {
	@include centered;
	background-image: repeating-linear-gradient(
		-45deg,
		rgba(143, 140, 140, 0.25),
		rgba(255, 255, 255, 0.25) 1px,
		transparent 1px,
		transparent 6px
	);
	background-size: 8px 8px;
	border-radius: 10px;

	color: white;
	border: 1px solid #e28582;
	button {
		background: #e28582;
		color: white;
		padding: 2em;
		margin: 5em;
		font-size: 1em;
		border: 0;
		border-radius: 10px;
		&:hover {
			cursor: pointer;
		}
	}
}
