@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

@mixin border-radius($val) {
	border-top-left-radius: $val;
	border-top-right-radius: $val;
	border-bottom-left-radius: $val;
	border-bottom-right-radius: $val;
}

.recipe {
	@include center;
	background: #fffbfb;
	margin: 4em auto;
	padding: 0.5em;
	width: 100%;
	max-width: 600px;
	@include border-radius(5px);
	border-radius: 5px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
	flex-direction: column;
}

.image_container,
.image_container img {
	display: block;
	border-radius: 50%;
}

.image_container {
	margin: 0 auto;
	margin-bottom: 0.5em;
	z-index: 1;
	overflow: hidden;
	width: 16em;
	border: 30px solid white;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
	img {
		width: 100%;
		height: auto;
	}
}

.recipe article {
	padding: 1.25em 1.5em;
	width: 100%;
}
.list_items {
	display: flex;
	justify-content: space-around;
	flex: 1;
	align-items: center;
	list-style-type: none;
	background: lightcoral;
	padding: 0.5em 0;
	color: white;
	li {
		@include center;
		flex-direction: row;
		&:nth-child(even) {
			background: lightcoral;
		}
		> * {
			margin: 0.5em;
		}
	}
}

.ingredients_container {
	h2 {
		@include center;
	}
}

.recipe article ul li .icon {
	vertical-align: bottom;
}

.recipe article h1,
.recipe article h2 {
	@include center;
	font-family: 'Tangerine', cursive;
	font-weight: 300;
	text-align: center;
}
.recipe article h1 {
	font-size: 3.5em;
	margin: 0;
}

.recipe article h2 {
	font-size: 3em;
}

.recipe .icon-clock,
.recipe .icon-clock\:regular {
	background-position: 0 -19px;
	width: 20px;
	height: 20px;
}

.video_container {
	background-image: repeating-linear-gradient(
		-45deg,
		rgba(143, 140, 140, 0.25),
		rgba(255, 255, 255, 0.25) 1px,
		transparent 1px,
		transparent 6px
	);
	background-size: 8px 8px;
	@include center;
	color: white;
	border: 1px solid lightcoral;
	button {
		background: lightcoral;
		color: white;
		padding: 2em;
		margin: 5em;
		font-size: 1em;
		&:hover {
			cursor: pointer;
		}
	}
}

@media screen and (max-device-width: 568px) {
	.list_items {
		li {
			flex-direction: column;
			> * {
				margin: 0.25em;
			}
		}
	}
}
