@import '../styleImports/mixins.scss';

.searchForm {
	@include centered;
	margin-right: 2.5em;
	> * {
		transition: all 0.5s;
		transition-timing-function: ease-in-out;
		transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}

.searchBar {
	width: 40%;
	border: none;
	font-size: 1em;
	border-radius: 5px 0 0 5px;
	box-shadow: none;
	-webkit-appearance: none;
}

.searchBar_s {
	width: 60em;
}

.searchButton {
	background: #e28582;
	border: none;
	color: white;
	font-size: 1em;
	border-radius: 0 5px 5px 0;
}

.padding_s {
	padding: 1em;
	border: 1px solid white;
}
.padding_n {
	padding: 2em;
}

@media screen and (max-device-width: 568px) {
	.searchForm {
		min-height: 70px;
		margin: 0.5em;
	}
	.searchForm_s {
		margin-right: 0;
		min-height: 70px;
		justify-content: flex-end;
	}
	.padding_n {
		padding: 2em 1.6em;
	}
	.searchBar,
	.searchButton {
		border-radius: 10px;
	}

	.searchButton {
		border-radius: 0px 10px 10px 0px;
	}

	.searchBar {
		width: 53%;
		border-radius: 10px 0 0 10px;
		box-shadow: none;
	}
	.padding_s {
		padding: 1em 0.5em;
	}
}
