@mixin bp($class) {
	@if $class==xs {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $class==sm {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $class==md {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $class==lg {
		@media (min-width: 1200px) {
			@content;
		}
	} @else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}

@mixin centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin animate {
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
	transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
