@import '../styleImports/variables.scss';
@import '../styleImports/mixins.scss';

.logo_container {
	margin: 2em;
	> * {
		transition: all 0.5s;
		transition-timing-function: ease-in-out;
		transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}

.width_s {
	width: 4em;
	margin-right: 0.8em;
}

.width_n {
	width: 8.5em;
}
.svg_container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.logo_path_color {
	fill: #e28582;
}
.logo_path_white {
	fill: #fff;
}

@media screen and (max-device-width: 568px) {
	.logo_container {
		transition: all ease-in 0.5s;
		flex-direction: column;
		margin: 0;
		margin-bottom: 0.5em;
		h1 {
			margin: 0.3em 0;
			font-size: 2em;
		}
	}
	.width_n {
		width: 6em;
	}
}
