@import '../styleImports/variables.scss';
@import '../styleImports/mixins.scss';

.headerContainer_n {
	@include centered;
	width: 53%;
	> * {
		transition: all 0.5s;
		transition-timing-function: ease-in-out;
		transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}
.sHeader {
	display: none;
}
.nHeader {
	font-family: 'Berkshire Swash';
	// color: #67b562;
	color: #663333;
}

@media screen and (max-device-width: 568px) {
	h1 {
		margin-top: 2em;
		margin-bottom: 0;
	}
	.headerContainer_s {
		width: 0;
		> * {
			transition: all 0.5s;
			transition-timing-function: ease-in-out;
			transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		}
	}
	.nHeader {
		padding-left: 0.6em;
		font-size: 3em;
		margin-bottom: 0em;
	}
}
