@import '../styleImports/variables.scss';
@import '../styleImports/mixins.scss';

.headerContainer_n {
	@include centered;
	> * {
		@include animate;
	}
	@include bp(xs) {
		width: 53%;
	}
}
.headerContainer_s {
	@include bp(xs) {
		width: 0;
		> * {
			@include animate;
		}
	}
}
.sHeader {
	color: white;
	font-size: 2em;
	padding: 0;
	font-family: 'Berkshire Swash';
	@include bp(xs) {
		display: none;
	}
}
.nHeader {
	font-family: 'Berkshire Swash';
	// color: #67b562;
	color: #663333;
	@include bp(xs) {
		padding-left: 0.4em;
		font-size: 2.5em;
		margin-bottom: 0em;
	}
}
h1 {
	@include bp(xs) {
		margin-top: 2em;
		margin-bottom: 0;
	}
}
