.App {
	margin: 4em auto;
	font-family: 'Roboto', sans-serif;
}
.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	width: 50%;
	border: none;
	padding: 2em;
	font-size: 1em;
}

.search-button {
	background: #e28582;
	border: none;
	padding: 2em;
	color: white;
	font-size: 1em;
}
